@model PB.Entities.PracticeCompany

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете тази практика?</h3>
<div>
    <h4>Практика</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фирма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayName("Практика")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practice)
        </dd>
        <dt>
            @Html.DisplayName("Капацитет")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-danger" /> |
            @Html.ActionLink("Покажи всички практики", "Index")
        </div>
    }
</div>
