@model IEnumerable<PB.Entities.PracticeCompany>

@{
    ViewBag.Title = "Index";
}


<h2>Практики</h2>

<p>
    @Html.ActionLink("Създай практика", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Име на практика")
        </th>
        <th>
            @Html.DisplayName("Фирма")
        </th>
        <th>
            @Html.DisplayName("Капацитет")
        </th>
    </tr>
    <tr>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Practice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
            @Html.ActionLink("Изтрий", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>