@model PB.Entities.Practice

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете тази кампания?</h3>
<div>
    <h4>Practice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-danger" />
            <div>
                @Html.ActionLink("Покажи всички кампании", "Index")
            </div>
        </div>
    }
</div>
