@model PB.Entities.Practice

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете тази кампания?</h3>
<div>
    <h4>Practice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Име")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Начало")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("Край")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div>
                <input type="submit" value="Изтрий" class="btn btn-danger" /> |
                @Html.ActionLink("Покажи всички кампании", "Index")
            </div>
        </div>
    }
</div>
