@model PB.Entities.Practice

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Кампания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Име")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Начало")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayName("Край")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }, new { @class ="btn btn-primary" }) |
    @Html.ActionLink("Покажи всички кампании", "Index")
</p>
