@model PB.Entities.Company

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете тази компания?</h3>
<div>
    <h4>Компания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Име")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Адрес")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            @Html.ActionLink("Покажи всички компании", "Index")
        </div>
    }
</div>
