@model PB.Entities.Company

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Компания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Име")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Адрес")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Запази", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Покажи всички компании", "Index")
</p>
