@model IEnumerable<PB.Entities.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Компании</h2>

<p>
    @Html.ActionLink("Добави компания", "Create")
</p>
<table class="table-hover table">
    <tr>
        <th>
            @Html.DisplayName("Име")
        </th>
        <th>
            @Html.DisplayName("Адрес")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.Id }) |
            @Html.ActionLink("Изтриване", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
